compile = "./.config/build.sh"
run = "npm install && node ./build/index.js --displayless"
entrypoint = "index.ts"

[packager]
language = "nodejs"

# Environment variables (ADD YOUR TWITCH TOKEN ON THE REPLIT SECRETS)
[env]
ttvdropbot_autoclaim= "false"
ttvdropbot_autopoints= "false"
ttvdropbot_interval="60000"
ttvdropbot_retryinterval="60000"
